@import './bookdetails.css';
@import './form.css';


:root {
    --card: #EFC6A1; 
    --header: #F49338;
    --background-color: #F0EBE5;
    --search: #FFF3E6;
}
body {  
    height: 100vh;
    width: 100%;
    font-size: 62.5%;
    background-color: var(--background-color);
    margin: 0;
}