@import './bookdetails.css';
@import './form.css';
@import './main.css';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,200;1,200;1,300&display=swap');

:root {
    --card: #EFC6A1; 
    --header: #F49338;
    --background-color: #F0EBE5;
    --search: #FFF3E6;
}
body {  
    height: 100vh;
    width: 100%;
    font-size: 62.5%;
    background-color: var(--background-color);
    margin: 0;
    font-family: "Poppins", sans-serif;
    
}